.create-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .account-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .account-form h2 {
    margin-bottom: 15px; /* Add spacing below the heading */
    text-align: center;
  }
  
  .account-form label {
    display: block;
    margin-bottom: 10px; /* Add spacing below each label */
  }
  
  .account-form textarea {
    height: 80px; /* Adjust the height of the textarea */
    margin-bottom: 10px; /* Add spacing below the textarea */
    
  }
  
  .account-form button {
    width: 100%; /* Make the button full-width */
  }
  